body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.qr-codes {
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

#lab-qr-code {
  margin-left: 16px;
}

#patient-qr-code {
  margin-right: 16px;
}

#app-bar {
  display: flex;
  flex-direction: column;
}
